@import '@sweetalert2/theme-dark/dark.css';

*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
}

@font-face {
    font-family: satisfy;
    src: url(./fonts/Satisfy.ttf);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  *{
    scrollbar-width: auto;
    scrollbar-color: #000000 rgb(40,40,40);
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: rgb(40,40,40);
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

body {
    background-color: rgb(40, 40, 40);
}

a:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px white;
    transition: text-shadow 1s;
}

/*Main menu*/
.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    font-size: 12vmin;
}

.home-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 65%;
    font-size: 10vmin;
    gap: 8%;
}

/*Character creation*/
.cc {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.preset-main {
    display: flex;
    width: 100%;
    height: 100%;
}

.preset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
    flex-shrink: 0;
}

.preset-button img {
    height: 10vmin;
    cursor: pointer;
    opacity: 70%;
}

.preset-button img:hover{
    opacity: 100%;
    transition: opacity 0.5s;
}

.presets {
    display: flex;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.preset {
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.preset-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.preset-name {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: flex-end;
    justify-content: center;
    font-size: 4vmin;
    font-family: satisfy;
    text-shadow: 2px 2px 4px black;
}

.preset-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.preset-img img {
    border-radius: 30px;
    border: 1px solid black;
    width: 90%;
    height: 90%;
}

.preset-right {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50%;
    height: 90%;
}

.preset-info {
    display: flex;
    width: 100%;
    height: 20%;
}

.preset-age {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 45%;
    height: 90%;
    font-size: 7vmin;
    font-family: satisfy;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(20,20,20);
}

.preset-difficulty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 45%;
    height: 90%;
    font-size: 7vmin;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(20,20,20);
}

.preset-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    font-size: 4vmin;
    font-family: satisfy;
}

.preset-text {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 60%;
    margin: auto;
    font-size: 2.5vmin;
    overflow: auto;
}

.preset-text p{
    width: 95%;
    height: 30%;
    margin: auto;
    font-size: 2.5vmin;
    padding: 10px;
    text-indent: 30px;
    overflow: auto;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(20,20,20);
}

.preset-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    font-size: 5vmin;
}

.preset-confirm p:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px white;
    transition: text-shadow 1s;
}

/*Houses*/
.house {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    gap: 0.25%;
}

.house-room {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    font-family: satisfy;
    flex-shrink: 0;
    gap: 0.5%;
}

.house-room-info {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 6vmin;
    text-shadow: 2px 2px 4px black;
}

.house-room-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow: auto;
    gap: 0.5%;
}

.house-room-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 19.5%;
    background-color: red;
    font-size: 5vmin;
    background-color: rgb(20,20,20);
    cursor: pointer;
}

.house-room-option h2{
    cursor: pointer;
}

.house-room-option:hover {
    background-color: rgb(0,0,0);
    transition: background-color 1s;
}

/*Profile*/
.profile {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.profile-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.profile-name {
    display: flex;
    width: 100%;
    height: 15%;
}

.profile-return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.profile-return img{
    width: 50%;
    height: 50%;
    cursor: pointer;
    opacity: 70%;
}

.profile-return img:hover{
    opacity: 100%;
    transition: opacity 0.5s;
}

.profile-name-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 4vmin;
    font-family: satisfy;
    text-shadow: 2px 2px 4px black;
}

.profile-img {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.profile-img img{
    width: 70%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 2px 1px 1px black;
}

.profile-resources {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: 4vmin;
    gap: 2%;
}

.profile-resources img{
    height: 8vmin;
}

.profile-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    gap: 7%;
}

.profile-info-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 95%;
    background-color: rgb(20,20,20);
    border: 1px solid black;
    border-radius: 15%;
    font-size: 8vmin;
}

.profile-info-box img{
    height: 9vmin;
}

.profile-stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
}

.profile-stats-date{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: 5vmin;
    font-family: satisfy;
    text-shadow: 2px 2px 4px black;
}

.profile-stats-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 85%;
    gap: 2%;
    overflow: auto;
}

.profile-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 12%;
    background-color: rgb(20, 20, 20);
    font-size: 5vmin;
    flex-shrink: 0;
    border: 1px solid black;
}

/*Sleep*/
.sleep {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 5%
}

.sleep-letters {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24vmin;
    gap: 2%;
}

@keyframes sleepVisibility {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.sleep-z1 {
    animation-name: sleepVisibility;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.sleep-z2 {
    animation-name: sleepVisibility;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.sleep-z3 {
    animation-name: sleepVisibility;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.sleep-continue {
    cursor: pointer;
    font-size: 6vmin;
}

.sleep-continue:hover {
    text-shadow: 1px 1px 2px white;
    transition: text-shadow 1s;
}

/*Places*/
.place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.place-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18%;
    width: 100%;
    font-size: 6vmin;
    font-family: satisfy;
    background-color: rgb(20, 20, 20);
}

.place-title div {
    height: 100%;
    width: 10%;
}

.place-title h1 {
    margin: auto;
}

.place-title img{
    height: 100%;
    width: 10%;
    padding: 2vmin;
    cursor: pointer;
    opacity: 80%;
}

.place-title img:hover{
    opacity: 100%;
    transition: opacity 1s;
}

.place-options {
    display: flex;
    height: 82%;
    width: 100%;
    border-top: 1.5px solid black;
    gap: 1%;
    overflow: auto;
}

.place-option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
    gap: 2%;
    flex-shrink: 0;
    margin: auto;
}

.place-option img{
    cursor: pointer;
    height: 75%;
    width: 100%;
    border-radius: 30px;
    filter: grayscale(60%);
    border: 1px solid black;
}

.place-option img:hover{
    filter: grayscale(0%);
    transition: filter 1s;
}

.place-option h2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-size: 10vmin;
    text-shadow: 1px 1px 2px black;
}

/*Quests*/
.quests {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.quests-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.quest-list-top {
    display: flex;
    width: 100%;
    height: 15%;
}

.quests-return {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.quests-return img{
    width: 50%;
    height: 50%;
    cursor: pointer;
    opacity: 70%;
}

.quests-return img:hover{
    opacity: 100%;
    transition: 1s;
}

.quests-left h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-size: 12vmin;
    font-family: satisfy;
    text-shadow: 2px 2px 4px black;
}

.quest-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
    margin: auto;
    overflow: auto;
}

.quest-list h2{
    font-size: 5vmin;
    opacity: 80%;
    cursor: pointer;
}

.quest-list h2:hover{
    opacity: 100%;
    transition: opacity 1s;
}


.quests-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 5%;
}

.quest-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: 8vmin;
    font-family: satisfy;
}

.quest-desc {
    text-indent: 50px;
    display: flex;
    width: 100%;
    height: 80%;
    font-size: 3vmin;
}

/*Meditate*/
.meditate {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 5%
}

@keyframes meditateVisibility {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.meditate img {
    width: 40%;
    height: 70%;
    animation-name: meditateVisibility;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.meditate-continue {
    cursor: pointer;
    font-size: 6vmin;
}

.meditate-continue:hover {
    text-shadow: 1px 1px 2px white;
    transition: text-shadow 1s;
}

.inventory {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.inventory-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.inventory-list-top {
    display: flex;
    width: 100%;
    height: 15%;
}

.inventory-return {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.inventory-return img{
    width: 40%;
    height: 50%;
    cursor: pointer;
    opacity: 70%;
}

.inventory-return img:hover{
    opacity: 100%;
    transition: 1s;
}

.inventory-left h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-size: 10vmin;
    font-family: satisfy;
    text-shadow: 2px 2px 4px black;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    margin: auto;
    overflow: auto;
}

.inventory-info {
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 5vmin;
}

.inventory-info img {
    width: 11%;
    height: 50%;
}

.inventory-money {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 3%;
}

.inventory-weight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 3%;
}

.dialogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.dialogue-boxes {
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.player-dialogue-box {
    display: flex;
    align-self: flex-start;
    width: 60%;
    height: 25%;
    flex-shrink: 0;
    margin-left: 5%;
}

.player-dialogue-image {
    width: 20%;
    height: 100%;
}

.player-dialogue-text {
    width: 70%;
    height: 100%;
    background-color: rgb(20,20,20);
    padding: 2%;
    overflow: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
}

.npc-dialogue-box {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    width: 60%;
    height: 25%;
    flex-shrink: 0;
    margin-right: 5%;
}

.npc-dialogue-text{
    width: 70%;
    height: 100%;
    background-color: rgb(20,20,20);
    padding: 2%;
    overflow: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
}

.npc-dialogue-image {
    width: 20%;
    height: 100%;
}

.dialogue-option-box {
    display: flex;
    width: 35%;
    height: 15%;
    background-color: rgb(20,20,20);
    flex-shrink: 0;
    overflow: hidden;
}

.dialogue-option-box img {
    width: 80%;
    height: 40%;
    cursor: pointer;
}

.dialogue-option-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    opacity: 80%;
    cursor: pointer;
}

.dialogue-option-left:hover{
    opacity: 100%;
}

.dialogue-options {
    display: flex;
    width: 70%;
    height: 100%;
    cursor: pointer;
}

.dialogue-options h1{
    cursor: pointer;
}

.dialogue-option-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    opacity: 80%;
    cursor: pointer;
}

.dialogue-option-right:hover{
    opacity: 100%;
}

.dialogue-option {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 4vmin;
    flex-shrink: 0;
}